Chcemy stworzyć apliakcję do dzielenia się notatkami przez uczniów. Z duża ilosćią tematów notatek do wyboru.
A o to wymagania naszej aplikacji:

Moduł rejestracja-wymagania funkcjonalne
Bedzie się składał z:
-Przycisku zarejestruj widocznym w prawym górnym rogu w aplikacji przekierowującym na stronę rejestracji
-pól do wpisania danych(imienia,nazwiska,szkoły)
-przycisku zarejestruj się ściągającego dane do bazy danych i przypisując do danego użytkownika
i wysyłającego maila z potwierdzeniem rejestracji.
-Po potwierdzeniu rejestracji będzie wyświetlał sie komunikat ,, Zarejestrowano pomyślnie"
Moduł rejestracja-wymagania niefunkcjonalne:
-czas do wysłania maila weryfikującego nie powinien być większy niż 1min
-bedzie zapisywał login i hasło do bazy Users

Moduł zaloguj- wymagania funkconalne
Będzię się składał z ekranu logowania na któryn będą:
-pole tekstowe login
-pole tekstowe hasło
-przycisk zaloguj
-w przypadku nie zgodności którejś informacji komunikat o błednym loginie lub haśle
Moduł zaloguj- wymagania niefunkconalne
-przycisk zaloguj będzie wyszukiwał zgadzające się dane w bazie Logins

Moduł Głowna-wymagania funkcjonalne
Będzie wyświetłał 5 najnowszych notatek na stronie głownej i ich twórców
Moduł Głowna-wymagania niefunkcjonalne
-Moduł będzię wyświetłał 5 najnowszych notatek i ich twórców z bazy Notes

Moduł wyszukaj- wymagania funkcjonalne
-będzie składał się z pola tekstowego
z napisem wyszukaj kasującym się po wpisaniu znaku z klawiatury
- przycisk wyszukaj wyszukiwającym notatki z nazwą najbardziej zgodną z wpisaną frazą
Moduł wyszukaj- wymagania niefunkcjonalne
-przycisk wyszukaj będzię przeszukiwał kategorie nazwa w bazie Notes
zgdone z wpisaną frazą

Moduł Opublikuj- wymagania funkcjonalne
Będzie się składał z ekranu dodania zdjęcia lub pliku pdf na którym będą:
-pole dodania pliku- zczytujący przeciągnięty plik z komputera
-pole wpisania tematu notatki.
-przycisk opublikuj-publikujący notatkę w wybranej kategorii.
-komunikat opublikowwane potwierdzający rozpączęcie procesu publikacji.
Moduł Opublikuj- wymagania niefunkcjonalne
-modył będzie automatycznie postował notatkę na profilu i 
zapisywał ją w bazie Notes
-moduł będzie obsługiwał 3 użytkowników jednocześnie
-czas publikacji notatki w wybranej kategorii powinien być mniejszy niż 1min.

Bezpieczństwo i sprawność aplikacji:
-aplikacja będzie używać TSL 1.3
-czas odpowiedzi serwera po kliknięciu opublikuj będzie mniejszy niż 250ms.


